{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row m-auto mt-3">
        <div class="col-6">
            <div class="text-center p-2 fw-bolder">
                Pending Tasks
                <hr/>
            </div>

            <div class="accordion accordion-flush" id="accordionTaskList">
                {% for task in tasks %}

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-task-{{ forloop.counter }}" aria-expanded="false"
                                    aria-controls="flush-task-{{ forloop.counter }}">
                                {% if task.task_title %}
                                    <div class="fw-bold">
                                        {{ task.task_title }}
                                    </div>
                                {% else %}
                                    (No Title)
                                {% endif %}
                            </button>
                        </h2>
                        <div id="flush-task-{{ forloop.counter }}" class="accordion-collapse collapse"
                             data-bs-parent="#accordionTaskList">
                            <div class="accordion-body">
                                {% if task.task_description %}
                                    <div class="mt-2 mb-3">
                                        {{ task.task_description|safe }}
                                    </div>
                                {% else %}
                                    <div class="text-muted small">
                                        No Description Added
                                    </div>
                                {% endif %}

                                <div class="row">
                                    <div class="col fw-light fst-italic">
                                        Created at {{ task.task_created_on }}
                                    </div>

                                    <div class="col">
                                        <a href="{% url 'edit-task' task.taskid %}">
                                            <i class="fa-solid fa-pen-to-square float-end m-1"></i>
                                        </a>

                                        <a href="{% url 'delete-task' task.taskid %}">
                                            <i class="fa-solid fa-trash-can float-end m-1"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>

        </div>

        <div class="col-6">
            <div class="text-center p-2 fw-bolder">
                Add new Task
                <hr/>
            </div>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control"
                               id="task" name="task"
                               placeholder="New Task">
                        <label for="task">New Task</label>
                    </div>
                    <div class="mb-3">
                        <label for="description">Task Description</label>
                        <textarea id="description" name="description">
                        </textarea>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-warning"
                                type="submit">
                            <i class="fa-solid fa-floppy-disk"></i> Add Task
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        var editor1 = new RichTextEditor("#description");
    </script>
{% endblock content %}